[Unit]
Description=WiPi Heating Control Service
After=network.target

[Service]
EnvironmentFile=/etc/heat.conf
ExecStart=/usr/local/bin/heat $MODE $DEBUG --config $CONFDIR --log $LOGFILE --track $TRACKDIR
User=root
Group=root

[Install]
WantedBy=multi-user.target
